/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */

* {
	border-radius: 0 !important;
}

h1 {
	font-family: Swiss721BT-BlackCondensed;
	font-weight: normal;
	font-style: normal;
	font-size: 6em;
}

h2 {
	font-family: Swiss721BT-BoldCondensed;
	font-weight: normal;
	font-style: normal;
	font-size: 4em;
	padding-bottom: 10px;
}

h3, h4, h5, h6 {
	font-family: Swiss721BT-BoldCondensed;
	font-weight: normal;
	font-style: normal;
}

body .av-special-heading .av-special-heading-tag {
	padding-bottom: 20px;
}

.av-masonry-sort a {
	padding: 5px;
	border: 2px black solid;
	color: black;
}

.av-masonry-sort a:hover {
	padding: 5px;
	border: 2px white solid;
	color: white;
	background-color: black;
}

.main_color .av-sort-by-term a.active_sort {
	color: white;
	background-color: black;
}

.main_color div {
	border-color: black !important;
}

.av-special-heading-h2 {
	border-bottom: 5px black solid;
}

.special-heading-inner-border {
	display: none;
}

p {
	font-family: Swiss721BT-Medium;
	font-weight: normal;
	font-style: normal;
}

p em {
	font-family: Swiss721BT-MediumItalic;
	font-weight: normal;
	font-style: normal;
}

.epm-form-field {}

.av-inner-masonry-content {
	background-color: white !important;
}

.avia-arrow {
	display: none;
}

.av-styling-circle .avia-image-container-inner, .av-styling-circle .avia_image, .av-styling-circle .av-image-caption-overlay, .av-styling-circle div.av-caption-image-overlay-bg {
	border-radius: 0px;
}

.avia_mobile #top .av-parallax-section { z-index: 0; }

.avia_mobile #top .av-parallax-section{-webkit-transform: translate3d(0,0,0);}

.events-photo .tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 {
	font-size: 3em;
}

.av-tribe-events-inner-content-wrap {
	display: none !important;
}

/*
Default overrides
=============
*/

.main_color a,
.main_color .widget_first,
.main_color strong,
.main_color b,
.main_color b a,
.main_color strong a,
.main_color #js_sort_items a:hover,
.main_color #js_sort_items a.active_sort,
.main_color .av-sort-by-term a.active_sort,
.main_color .special_amp,
.main_color .taglist a.activeFilter,
.main_color #commentform .required,
#top .main_color .av-no-color.av-icon-style-border a.av-icon-char {
	color:black;
}

.main_color a:hover,
.main_color .widget_first:hover,
.main_color strong:hover,
.main_color b:hover,
.main_color b a:hover,
.main_color strong a:hover,
.main_color #js_sort_items a:hover:hover,
.main_color #js_sort_items a.active_sort:hover,
.main_color .av-sort-by-term a.active_sort:hover,
.main_color .special_amp:hover,
.main_color .taglist a.activeFilter:hover,
.main_color #commentform .required:hover,
#top .main_color .av-no-color.av-icon-style-border a.av-icon-char:hover{
	color:black;
}

/*
Navigation
===========
Hovers
*/

header#header #header_main {
	border-bottom-color: #D2D2D2;
	background: white !important;
	text-transform: uppercase !important;
}

header#header #header_main .container .inner-container nav.main_menu {
	left: 0;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item a:hover {
	background: black;
	color: #fff;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item a span.avia-menu-fx{
	display: none;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item.current-menu-item {
	background-color: black;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item.current-menu-item a {
	color:white;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item.current-menu-item a span.avia-menu-fx{
	background-color: #000;
}

header#header #header_main .container .inner-container nav.main_menu .avia-menu ul#avia-menu li.menu-item.menu-item-search-dropdown a{
	padding-right: 13px;
}

/*
NB: Overriding hover transition time from layout.css:402
*/
.av-main-nav > li > a {
	transition: background-color 0.2s ease-in-out,
	color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

/*
Navigation
===========
About submenu
*/

li.menu-item-has-children .avia_mega_div{
	background-color: #F5F5F5;
	margin: 1px 0 0 0 !important;
}

li.menu-item-has-children .avia_mega_div .sub-menu:before, li.menu-item-has-children .avia_mega_div .sub-menu:after {
	content: ".";
	background: #F5F5F5;
	position: absolute;
	height: 91px;
	width: 2000px;
	left: -2000px;
	text-indent: -50px;
	overflow: hidden;
	border-bottom: none;
	border-bottom: 1px solid #bfbfbf !important;
}

li.menu-item-has-children .avia_mega_div ul.sub-menu {
	padding: 0 !important;
	border-top: none !important;
	margin-top: 0 !important;
	background: transparent;
}

li.menu-item-has-children .avia_mega_div ul.sub-menu li {
	border-color:transparent !important;
	padding: 0 !important;
}

li.menu-item-has-children .avia_mega_div ul.sub-menu li span.mega_menu_title a {
	padding: 20px 30px !important;
	text-align: center !important;
}

li.menu-item-has-children.current-menu-item ul.sub-menu li span a {
	color:black !important;
}

li.menu-item-has-children.current-menu-item ul.sub-menu li:hover span a {
	color: white !important;
}

li.menu-item-has-children .avia_mega_div ul.sub-menu li span.mega_menu_title a:hover {
	text-decoration: none !important;
}

/*
Navigation
===========
Back To Top button
*/

#scroll-top-link {
	border-radius: 0;
	background-color:white;
	opacity: 1 !important;
	border: 2px solid black;
	color:black;
}

#scroll-top-link:hover {
	background-color:black;
	color:white;
	border: 2px solid black;
}

/*
Index page
===========
Masonry
*/

#main .main_color .av-masonry {
	padding-bottom: 50px;
}

#main .main_color .av-masonry .av-masonry-container a {
	padding: 0.5px;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry {
	overflow: visible;
	display: inline-block;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry .av-masonry-outerimage-container .av-masonry-image-container {
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	opacity: 1 !important;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry .av-masonry-entry-metadata {
	background: white;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry h3 {
	font-size: 25px;
	padding: 20px;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry .av-masonry-entry-metadata p {
	margin: 0;
	padding: 0 20px 20px 20px;
}

/*#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry .av-masonry-entry-metadata p span {
}
*/
#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry figcaption.av-inner-masonry-content{
	position: absolute;
	z-index: 1000;
	top: 0;
	height: 100%;
	display: none;
}

#main .main_color .av-masonry .av-masonry-container a:hover .av-inner-masonry figcaption.av-inner-masonry-content {
	display: inline-block;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry figcaption.av-inner-masonry-content .av-inner-masonry-content-pos {
	overflow: hidden;
	height: 100%;
}

#main .main_color .av-masonry .av-masonry-container a .av-inner-masonry figcaption.av-inner-masonry-content .av-inner-masonry-content-pos .entry-title {
	padding: 0;
}

/*
Calendar page
===========
Search and filters
*/

#tribe-events-bar {
	display: inline-block;
	margin-bottom: 0 !important;
	border:none;
	border-bottom: 1px solid #ddd !important;
}

#tribe-bar-views {
	padding: 0 23px !important;
}

#tribe-bar-views .tribe-bar-views-inner {
	border: none;
	padding: 23px 0 !important;
}

#tribe-bar-views .tribe-bar-views-inner ul.tribe-bar-views-list li.tribe-bar-views-option a{
	padding: 12px 15px 13px;
}

.tribe-bar-filters {
	padding-left: 23px;
	border: none;
}

.tribe-bar-date-filter{
	float: right;
	margin-top: 17px;
	width: 12% !important;
}

.tribe-bar-search-filter {
	margin-top: 17px;
	width: 73% !important;
	float: left;
	margin-left: 0 !important;
}

.tribe-bar-search-filter label,
.tribe-bar-date-filter #tribe-bar-dates label {
	display: none !important;
}

.tribe-bar-submit {
	width: 15% !important;
	padding: 23px 0 !important;
	margin-top: 17px !important;
}

.tribe-bar-submit input {
	background-color: white !important;
	color:black !important;
	padding: 11px 16px 10px !important;
	border:none !important;
	border-radius: 0 !important;
	border-right: 1px solid #E7E7E7 !important;
}

.tribe-bar-search-filter #tribe-bar-search {
}

.tribe-bar-search-filter input,
.tribe-bar-date-filter #tribe-bar-dates input {
	background: white !important;
	border: none !important;
	border-radius: 0 !important;
}


#tribe_events_filters_wrapper {
	position: relative !important;
	display: inline-block;
	padding: 0 !important;
	width: 100% !important;
	margin-top: 0 !important;
	border: none;
	border-bottom: 1px solid #bfbfbf !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content #tribe_events_filter_control #tribe_events_filters_toggle {
	display: none;
}

#tribe_events_filters_wrapper .tribe-events-filters-content #tribe_events_filter_control #tribe_events_filters_toggle.tribe_events_filters_show_filters {
	line-height: 65px;
}

/*
NB: There's a mystery object that gets destroyed on load but funks up the dom for a few ms. The sadness below kills it at the root;
*/
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form > * {
	display: none !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_eventcategory,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_cost,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_tags,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_dayofweek,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_timeofday,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form #tribe_events_filter_item_organizers{
	display:inline-block !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-group {
	border: none !important;
	box-shadow: none !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-checkboxes ul,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-range,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-select {
	border: 2px solid black !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-range #tribe_events_filter_cost_slider .ui-slider-range {
	background: black !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-range #tribe_events_filter_cost_slider .ui-slider-handle {
	border-radius: 100% !important;
	background: white !important;
	border: 2px solid black !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-checkboxes ul li label {
	padding: 0;
	background: white;
	border-bottom: 1px solid #ddd;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-checkboxes ul li label input {
	margin: 15px 7px;
	position: relative;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-checkboxes ul li label span {
	padding: 15px 15px 15px 33px;
	margin-left: -34px;
	width: 110% !important;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-checkboxes ul li label input:checked + span {
	background-color: black;
	color: white;
}

#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-group:before,
#tribe_events_filters_wrapper .tribe-events-filters-content form#tribe_events_filters_form .tribe_events_filter_item .tribe-events-filter-group:after {
	border: none !important;
}

.tribe-events-filter-view.tribe-filters-closed #tribe_events_filters_form {}

#tribe_events_filters_wrapper:before, #tribe_events_filters_wrapper:after {
	content: ".";
	background: #F5F5F5;
	position: absolute;
	height: 91px;
	width: 2000px;
	left: -2000px;
	text-indent: -50px;
	overflow: hidden;
	border-bottom: none;
	border-bottom: 1px solid #bfbfbf !important;
}

#tribe_events_filters_wrapper:after {
	left: 100%;
}


#tribe_events_filters_wrapper .tribe-events-filters-content {
	border:none;
	padding: 13px 5px !important;
	float: left;
	width: 100%;
}

.tribe-events-filter-group .tribe-events-filter-checkboxes {}

/*
Calendar page
===========
Event display
*/

.tribe-events-loop.hfeed.vcalendar {
	display: inline-block;
	margin: 18px 0 !important;
	height: auto !important;
	-webkit-columns: 3;
	-moz-columns: 3;
	-o-columns: 3;
	columns: 3;
	-webkit-column-gap: 1px;
	-moz-column-gap: 1px;
	-o-column-gap: 1px;
	column-gap: 1px;
}

.tribe-events-list .vevent.hentry {
	position: static !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	margin: 0 0 -6px !important;
	overflow: hidden;
	display: inline-block;
	float: none !important;
}

.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap {
	width: 100% !important;
	display: block;
	border:none !important;
	margin:0 0 1px 0 !important;
}

.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap:hover {
	box-shadow: none;
}

.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap .tribe-events-event-image a {
	display: block;
}

.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap .tribe-events-event-image a img {
	opacity: 1;
	/*NB: Transitions seem to break the column layout*/
	/*-webkit-transition: opacity 0.4s ease-in-out;*/
	/*-o-transition: opacity 0.4s ease-in-out;*/
	/*transition: opacity 0.4s ease-in-out;*/
}

.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap .tribe-events-event-image a span,
.tribe-events-list .vevent.hentry .tribe-events-photo-event-wrap .tribe-events-event-image a:hover span{
	display: none !important;
}

#tribe-events-content a.tribe-events-button {
	background-color: transparent !important;
	border: 2px solid black !important;
	color: #000 !important;
	border-radius: 0 !important;
}

#tribe-events-content a.tribe-events-button:hover {
	background-color: black !important;
	border: 2px solid black !important;
	color: white !important;
}

/*
Event page
===========
Tickets div
*/

.flex_column_div .av-special-heading{
	border-bottom-color: white !important;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event h1,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event h2,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event h3 {
	display: none !important;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types {
	margin: 0 !important;
	display: inline-block;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types {
	list-style-type: none !important;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance a.performance-datetime {
	color:white;
	float: left;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types {
	display: inline-block;
	margin: 0;
	width: 100%;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types li {
	margin: 0;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types li span.ticket-type-price,
.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types li form select {
	border-radius: 0;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types li form input {
	background-color: #000 !important;
	border: 2px solid white !important;
}

.flex_column_div section.avia_codeblock_section .avia_codeblock #artfully-event ul.performances li.performance ul.ticket-types li form input:hover {
	background-color: #fff !important;
	color: black;
}

/*
Navigation
===========
Side Navigations
*/

a.avia-post-nav {
	background:#000 !important;
	border-radius:0 !important;
}

/*
Shopping Cart
===========
*/

#shopping-cart.shown {
	z-index: 2000;
}

#shopping-cart #shopping-cart-controls {
	background-color: black !important;
	border-radius:0 !important;
	width: initial !important;
	padding: 15px 5px 15px 27px !important;
}

/*
Footer
===========
Extra Data
*/

#footer {
	background-color: white !important;
	border:none;
	border-color:#CACACA;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 0;
}

#footer .container {
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	padding: 0;
}

#footer .container .flex_column.av_one_fourth {
	width: 30%;
	margin: 0;
	float: left;
	padding: 0 4%;
}

#footer .container .flex_column.av_one_fourth:nth-of-type(2) {
	min-height: 320px;
}

#footer .container .flex_column.av_one_fourth:nth-of-type(3) {
	float: right;
}

#footer .container .flex_column.av_one_fourth:nth-of-type(2), #footer .container .flex_column.av_one_fourth:nth-of-type(3) {
	border-left: 1px solid #cacaca;
}

#footer .container .flex_column.av_one_fourth:nth-of-type(3), #footer .container .flex_column.av_one_fourth:nth-of-type(4) {
	border-top: 1px solid #cacaca;
}

#footer .container .flex_column.av_one_fourth:nth-of-type(2n) {
	width: 70%;
}

#footer .container .flex_column.av_one_fourth .widget h3 {
	color: black;
}

/*
Footer
===========
Connect
*/

#footer .container .flex_column.av_one_fourth .widget_text .textwidget iframe,
#footer .container .flex_column.av_one_fourth .widget_text .textwidget .subscribe-button-inner,
#footer .container .flex_column.av_one_fourth .widget_text .textwidget .ig-b-{
	display: block !important;
	margin: 7px 0 !important;
}

#footer .container .flex_column.av_one_fourth .widget_text .textwidget .subscribe-button-inner iframe {
	margin: 0 !important;
}

#footer .container .flex_column.av_one_fourth.first .widget_text .textwidget form .epm-form-field label {
	display: none;
}

#footer .container .flex_column.av_one_fourth.first .widget_text .textwidget form .epm-form-field input {
	background-color: #EFEFEF;
	border:none;
	margin-bottom: 10px;
}

#footer .container .flex_column.av_one_fourth.first .widget_text .textwidget form input.epm-sign-up-button {
	background-color: white;
	border: 2px solid black;
}

#footer .container .flex_column.av_one_fourth.first .widget_text .textwidget form input.epm-sign-up-button:hover {
	background-color: black;
	border: 2px solid black;
	color: white;
}

/*
Footer
===========
Upcoming Events
*/

#footer .container * {
	color: #000;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent,
#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget p.tribe-events-widget-link a {
	width: 14%;
	float:left;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event {
	border: none;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-date{
	display: none;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-info {
	margin: 0;
	display: block;
	width: 100%;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-info .entry-title {
	padding: 0;
	margin: 0;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-info .entry-title a,
#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget p.tribe-events-widget-link a {
	padding: 10px;
	display: block;
	color: black;
	min-height: 7.6vw;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-info .entry-title a:hover,
#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget p.tribe-events-widget-link a:hover {
	background-color: black;
	color: white;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget div.hentry.vevent .tribe-mini-calendar-event .list-info .duration{
	display: none;
}

#footer .container .flex_column.av_one_fourth .tribe-events-adv-list-widget p.tribe-events-widget-link {
	margin: 0;
}


/*
Footer
===========
Copyright
*/

footer#socket{
    background-color: #e7e7e7 !important;
    color: #000 !important;
    border: none !important;
}

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */



}
@media only screen and (min-width: 768px) and (max-width: 989px) {
  #top .av_header_transparency.av_alternate_logo_active .logo a > img {
	  max-width: 100px;
	  height: auto;
  }

}


/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */
.responsive .mobile_slide_out .logo {
width: 200px !important;
margin-left: auto;
margin-right: auto;
float: none !important;
}




}